*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    

}

@font-face {
    font-family: MRegular;
    src: url(./fonts/MontserratAlternates-Black.ttf);
}

@font-face {
    font-family: popins;
    src: url(./fonts/Poppins/Poppins-Black.ttf);
}

/* body{
    background-color: red;
} */

nav{
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000000;
}

.nav{
    height: 100%;
    width: 90%;
    /* background-color: gray; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
    width: 20%;
    height: 100%;
    /* background-color: white; */
}

.nav-ul{
    width: 80%;
    /* background-color: green; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-ul>ul{
    height: 100%;
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.nav-ul>ul>li>a{
    text-decoration: none;
    font-family: MRegular ;
    transition: 2s;
    color: white;
    font-size: 18px;
}

.nav-ul>ul>li>a:hover{
    font-size: 25px;
}


.nav-ul>ul>button{
    height: 50px;
    width: 150px;
    border-radius: 15px;
    outline: none;
    border: none;
    font-family: MRegular ;
    background-color: #FFCA9F;
    color: #003F9A;
    transition: 1s;
}

.nav-ul>ul>button:hover{
    background-color: white;
}


.section{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/apehome-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.inner-sec{
    height: 100%;
    width: 90%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-sec{
    height: 100%;
    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
}

.img-text{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    background: url(./img/logosvg.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
}
.text-sec>h3{
    font-family: Mregular;
    font-size: 55px;
}

.text-sec>h3:nth-child(2){
    font-size: 18px;
    font-family: popins;
    font-size: 40px;
}

.text-sec>button{
    height: 60px;
    width: 200px;
    border-radius: 20px;
    outline: none;
    border: 2px solid black;
    background-color: #FFCA9F;
}

.text-sec>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-txt-btn{
    height: 100px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-txt-btn>button{
    height: 50px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    border: 2px dashed #003F9A;
    transition: .5s;
    font-family: MRegular;
    font-size: 10px;

}

.home-txt-btn>button:hover{
    border: 2px solid #FFCA9F;
    background-color: #003F9A;
    color: white;
}


.home-icon{
    height: 100px;
    width: 60%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-icon>a{
    width: 20%;
    height: 60%;
    background-color: #FFCA9F;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    transition: 1s;
}

.home-icon>a:hover{
    background-color: white;
    border: 2px solid #FFCA9F;
}

.token-section{
    height: 800px;
    width: 100%;
    background-color: rgb(252, 250, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-token-sec{
    height: 100%;
    width: 90%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.special{
    color: #003F9A;
    font-size: 35px;
}

.txt-token-sec{
    height: 100%;
    width: 50%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.txt-token-sec h3{
    font-family: Popins;
    font-size: 30px;
}


.txt-token-sec p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-token-sec{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-card{
    height: 300px;
    width: 40%;
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid #FFCA9F;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s;
    padding: 15px;
    flex-wrap: wrap;
}

.main-card:hover{
    background-color: #003F9A;
    color: white;
}
.main-card:hover > h3{
    color: white;
}



.main-card p{
    margin-top: 20px;
}

.main-card:nth-child(2){
    margin-top: 100px;
}

.special1{
    font-size: 25px;
    font-family: MRegular;
    color: blue;
}
.tokenomics{
    height: 600px;
    width: 100%;
    /* background-color: red; */
    /* margin-top: 350px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/token-bg.png);
    background-size: 100%;
    background-position: center;background-repeat: no-repeat;
}

.inner-tokenomics{
    height: 100%;
    width: 90%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    color: white;
    font-family: Mregular;
}

.inner-tokenomics h3{
    color: black;
    font-size: 65px;
    margin-top: 20px;
}

.tokencard{
    height: 80%;
    width: 100%;
    /* background-color: #003F9A; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-tokencard{
    height: 40%;
    width: 35%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    transition: 1s !important;
}

.main-tokencard:hover{
    background-color: #003F9A;
}

.card-img{
    height: 100%;
    width: 50%;
    /* background-color: black; */
}
.card-img1{
    background: url(./img/marketing.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 20px !important;
}

.card-img5{
    background: url(./img/marketing.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.card-img3{
    background: url(./img/marketing.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;

}


.card-img4{
    background: url(./img/reflection.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.main-tokencard:nth-child(2){
    height: 200px;
    width: 200px;
    position: relative;
    top: 25%;
    background: url(./img/logosvg.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    /* background-color: #003F9A; */
    border: 3px solid #FFCA9F;
    transition: 1s;
}

.main-tokencard:nth-child(2):hover{
    background-color: #003F9A;
    border: none;

}
.card-txt{
    height: 100%;
    width: 50%;
    /* background-color: red; */
    font-size: 14px;
}
.card-txt p{
    font-weight: 50;
}

.card-txt h3{
    font-size: 30px;
    color: white;
}

.roadmap-sec{
    height: 80vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-roadmap{
    height: 100%;
    width: 90%;
    /* background-color: blue; */
    color: black;
    font-family: mRegular;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.inner-roadmap h3{
    font-size: 65px;
    color: white;
}

.card-div{
    height: 60%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.roadcard{
    height: 90%;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: left;
    flex-direction: column;
    padding-left: 30px;
    transition: 1s;
}

.roadcard:hover{
    background-color: black;
    border: 2px dashed #003F9A;
}
.roadcard:hover>ul{
    color: white;
}
.roadcard:hover>.haeddiv h3{
    color: white;
}

.haeddiv{
    height: auto;
    width: 48%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003F9A;
    font-size: 14px;
    border-bottom: 4px dashed #003F9A;
}

.haeddiv h3{
    font-size: 35px;
    color: #003F9A;
}

.roadcard ul{
    height: 70%;
    width: 100%;
    /* background-color: aquamarine; */
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 14px;
    color: black;
    list-style-position: inside;
    /* margin-left: 20px; */
}

footer{
    height: 50px;
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: popins;
    font-weight: lighter;
}

.slize-div{
    height: 100px;
    width: 100px;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    margin-top: 520px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #003F9A;
}
