@media screen and (max-width:1024px){


    *{
        box-sizing: border-box;
    }

    nav{
        display: none;
    }

    .section{
        height: auto;
        background-size: 100%;
    }

    .inner-sec{
        width: 90%;
        flex-direction: column;
    }
    .text-sec{
        /* height: 1000px; */
        width: 100%;
        /* background-color: red; */
        justify-content: left;
        flex-direction: column;
    }

    .img-text{
        height: 50%;
        width: 100%;
        /* background-color: green; */
    }
    .text-sec h3{
        font-size: 25px;
    }

    .text-sec h3:nth-child(2){
        font-size: 35px;
    }

    .text-sec button {
        height: 70px;
        margin-top: 20px;
    }
    .home-txt-btn{
        width: auto;
        height: auto;
        /* background-color: green; */
        justify-content: space-between;
    }

    .home-txt-btn button:nth-child(1){
        width: 40%;
    }
    .home-txt-btn button{
        width: 40%;
    }
.pb{
    height: 70px;
}

    .home-icon{
        /* background-color: red; */
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        margin-top: 20px;
    }
    .home-icon a{
        height: 80px;
        text-align: center;
        line-height: 100px;
        background-color: transparent;
    }
    .img-text{
        height: 300px;
        /* margin-bottom: 250px; */
        margin-top: 20px;
        background-position: center;
        background-size: 60%;
    }
.token-section{
    height: auto;
    overflow: hidden;
}

    .inner-token-sec{
        height: auto;
        /* background-color: red; */
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
    }

    .txt-token-sec{
        width: 100%;
        justify-content: left;
        align-items: left;
        height: 350px;
        /* background-color: green; */
        margin-top: 100px;
    }
    .txt-token-sec h3{
        font-size: 25px;
        width: 90%;
        /* background-color: yellow; */
    }

    .special{
        font-size: 25px;
    }
.card-token-sec{
    height: 1000px;
    width: 100%;
    justify-content: space-evenly;
    /* background-color: red; */
    align-items: center;
    margin-bottom: 280px;
}

    .main-card{
        width: 90%;
    }

    .main-card:nth-child(2){
        margin-top: 0px;
    }

    .tokenomics{
        height: auto;
        /* background-color: red; */
        flex-direction: column;
    }
    .inner-tokenomics{
        /* background-color: red; */
        flex-direction: column;
        align-items: center;
    }

    .inner-tokenomics h3{
        font-size: 35px;
    }
    .tokencard{
        /* background-color: red; */
        flex-direction: column;
    }

    .main-tokencard{
        width: 90%;
        height: 200px;
        margin-top: 10px;
    }

    .no{
        display: none;
    }

    .card-txt h3{
        font-size: 23px;
    }
}
